{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
  </head>

  <body class="text-center">
    <form action = "{% url 'blog.views.cadastro' %}" class="form-signin" method="post">
        {% csrf_token %}
      <img class="mb-4" src="https://http2.mlstatic.com/bola-da-copa-2018-D_NQ_NP_802224-MLB26346329831_112017-O.webp" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Cadastre-Se</h1>
      <label for="first_name" class="sr-only">Primeiro Nome</label>
      <input type="text" name="first_name" class="form-control" placeholder="Digite seu primeiro nome" required autofocus>
      
      <label for="last_name" class="sr-only">Sobrenome Nome</label>
      <input type="text" name="last_name" class="form-control" placeholder="Digite seu ultimo nome" required autofocus>
      
      <label for="email" class="sr-only">Email</label>
      <input type="text" name="email" class="form-control" placeholder="Digite seu email" required autofocus>
      
      <label for="username" class="sr-only">Usuario</label>
      <input type="text" name="username" class="form-control" placeholder="Digite seu nome de usuario" required autofocus>
      
      <label for="password" class="sr-only">Senha</label>
      <input type="password" name="password" class="form-control" placeholder="Digite a senha" required>
      <div class="checkbox mb-3">

      
      <button class="btn btn-lg btn-primary btn-block" type="submit">Cadastrar</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>
  </body>
</html>
